ipython-genutils==0.2.0
ipywidgets==7.5.1
notebook==6.0.3
numpy==1.18.5
octave-kernel==0.32.0
pandas @ file:///C:/ci/pandas_1592833613419/work
pandocfilters==1.4.2
pytest==5.4.3
python-dateutil==2.8.1
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server @ file:///C:/ci/python-language-server_1594162130238/work
seaborn==0.10.1
ujson==1.35

